<template >
  <div>
    <Beer />
  </div>
</template>
<script>

import Beer from '@/components/Beer'
export default {
  props: {},
  components: { Beer },
  created () {},
  mounted () {},
  data: () => ({}),
  computed: {},
  watch: {},
  methods: {}
}
</script>
