<template>
  <div>
    <v-container>
      <v-card
        elevation="2"
        rounded
      >

        <v-row>
          <v-col cols='6'>
            <v-text-field
              @keydown.enter='getSomeBeers'
              v-model='inputBeer'
              label="Enter Beer Name"
              filled
            ></v-text-field>
          </v-col>
          <v-col cols='6'>
            <v-text-field
              @keydown.enter='getSomeBeers'
              v-model='foodPaired'
              label="Food Pairings"
              filled
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="6">
            <v-select
              clearable
              label="Bitterness Level"
              filled
              :items="IBUs"
              v-model="IBURange"
              item-text="name"
              return-object
            ></v-select>
          </v-col>
          <v-col cols='6'>
            <v-select
              clearable
              label="Alcohol Strength"
              filled
              :items="ABVs"
              v-model="ABVRange"
              item-text="name"
              return-object
            ></v-select>
          </v-col>
        </v-row>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-flex justify-center>
            <v-btn
              class="mb-8"
              elevation="3"
              text
              @click='getSomeBeers'
            >Brew</v-btn>
            <v-btn
              class="mb-8"
              elevation='3'
              text
              @click='getRandomBeer'
            >Random Brew</v-btn>
          </v-flex>
        </v-card-actions>
      </v-card>
      <v-row>
        <v-col
          cols=6
          v-for="(beer, index) in beers"
          :key="index"
        >

          <v-card
            height='350'
            elevation="5"
          >

            <div class='d-flex flex-no-wrap justify-space-between'>
              <div>

                <v-col>
                  <v-list>
                    <v-list-item-title class="headline mb-5, font-weight-medium ml-5">{{beer.name}}</v-list-item-title>
                  </v-list>
                  <v-list-item-subtitle class='overline font-italic ml-5'>ABV% {{beer.abv}} - IBU Rating {{beer.ibu}}</v-list-item-subtitle>
                  <v-list-item-subtitle class='overline font-italic ml-5'>{{beer.ingredients.yeast}}</v-list-item-subtitle>
                  <v-list>
                    <v-list-item-title class='headline mb-1, ml-5'>Food Pairings</v-list-item-title>
                  </v-list>
                  <v-list-item-subtitle
                    class='overline font-italic ml-5'
                    v-for="(food, index) in beer.food_pairing"
                    :key="index"
                  >{{food}}</v-list-item-subtitle>
                  <v-btn
                    @click.stop="brewersTips =true"
                    elevation='3'
                    text
                    class="mt-12 ml-5"
                  >Brewers Tips</v-btn>
                  <template>
                    <v-row justify="center">
                      <v-dialog
                        width='200'
                        height="300"
                        v-model='brewersTips'
                      >

                        <v-card
                          width='200'
                          height='300'
                        >
                          <v-card-title class='headline font-weight-medium'>Brewers Tips!</v-card-title>
                          <v-card-text class='overline font-italic'>{{beer.brewers_tips}}</v-card-text>
                        </v-card>
                      </v-dialog>
                    </v-row>
                  </template>

                </v-col>
              </div>
              <v-img
                class='ma-3'
                contain
                height='325'
                width='120'
                :src='beer.image_url'
              ></v-img>

            </div>

          </v-card>

        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>

import api from '@/punk'
export default {
  props: {},
  components: {},
  created () {},
  mounted () {
    this.getSomeBeers()
  },
  data: () => ({
    brewersTips: '',
    foodPaired: '',
    inputBeer: '',
    randomBeer: {},
    IBUs: [
      { name: 'Low (1-10 IBU)', min: '0', max: '10' },
      { name: 'Medium (11-25 IBU)', min: '11', max: '25' },
      { name: 'High (26-40 IBU)', min: '26', max: '40' },
      { name: 'Extreme (41+ IBU)', min: '41', max: '100' }

    ],
    IBURange: {},
    beers: [],
    ABVs: [
      { name: 'Weak', min: '0', max: '4.5' },
      { name: 'Medium', min: '4.6', max: '7.5' },
      { name: 'Strong', min: '7.6', max: '50' }

    ],
    ABVRange: {}
    // weak 0 - 4.5 med 4.6-7.5 strong 7.6-50
  }),
  computed: {
    pairParam () {
      return this.foodPaired.split(' ').join('_')
    }
  },
  watch: {},
  methods: {
    async getSomeBeers () {
      const response = await api.get('beers', {
        params: {
          abv_gt: this.ABVRange.min,
          abv_lt: this.ABVRange.max,
          ibu_gt: this.IBURange.min,
          ibu_lt: this.IBURange.max,
          beer_name: this.inputBeer ? this.inputBeer : undefined,
          food: this.foodPaired ? this.pairParam : undefined
        }
      })
      this.beers = response.data
    },
    async getRandomBeer () {
      const response = await api.get('beers/random')
      this.beers = response.data
    }
  }
}
</script>
