<template>
  <div>
    <v-app-bar><v-icon left>mdi-beer</v-icon><v-toolbar-title class="mr-5">Brewed Up</v-toolbar-title></v-app-bar>
  </div>
</template>
<script>

export default {
  props: {},
  components: { },
  created () {

  },
  mounted () {

  },
  data: () => ({

  }),
  computed: {

  },
  watch: {

  },
  methods: {

  }
}
</script>
