<template>
  <div>
    <v-app class='accent'>
      <Navbar />
      <v-container fluid>
        <v-content>
          <router-view></router-view>
        </v-content>
      </v-container>
    </v-app>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
export default {
  name: 'app',
  components: { Navbar }
}

</script>
